#canvas { 
    border-radius: 1px;
    border-color: black;
    border-style: solid;
}

.pen-cursor {
    cursor: url("photo/pen16pleft.png"),auto;
}

.era-cursor {
    cursor: url("photo/eraser16pleft.png"),auto;
}

.text-cursor {
    cursor: text;
}

.shape-cursor {
    cursor: all-scroll;
}

.font-monospace {
    font-family: monospace;
    font-size: 15px;
}
